.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
.body{
    max-width: 0 auto;
    margin-left: 160px;
    margin-right: 160px;
}
.green{
    color: #006A50;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    margin: 0 auto 0 auto;
}
nav li{
    list-style: none;
}
nav li a{
    font-size: 18px;

}
.btn{
    background-color: white;
    border-color: #006A50;
    padding:15px 30px ;
    border-radius: 8px;
  
    
}
#text{
    font-size: 56px;
}
#t {
    opacity: 50%;


}
.title{
    font-size: 24px;
}
#ti{
    font-size: 32px;
}
.button{
    background-color: #006A50;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 17px 34px;
}


.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    align-content: center;
    
}
#c{
  width: 473.03px;
  height: 400px;
}
    
main{
    max-width: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.piller-container {
    display: flex;
   gap: 24px;
}
.piller{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid rgb(14, 14, 14, 0.15);


}
.piller-title{
    font-size: 20px;
}
.section-title{
    font-size: 40px;
}
.vision-container {
    display: flex;
   gap: 24px;
}
.vision{
    border-radius: 16px;
    padding: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    

}   
.vision-title{
    font-size: 20px;
}
.vision-description{
    font-size: 16px;
}

.b{
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 11px 20px;
}
